section#skills {
  .progress {
    margin: 15px 0px;
    height: 30px;
  }

  .progress-bar { 
    background-color: $gray-600;
    color: $primary;
  }

  img {
    max-width: 80%;
    max-height: 250px; 
  }

  .bio {
    margin-top: 50px;
    padding: 0px 50px;
  }

  @media(min-width: 992px) {
    .progress-bars {
      margin: 100px 0px;
    }
  }
}
